@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  .customers-container {
    max-width: 584px;
  }

  .skills-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
  }
  .skills-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((100% - 24px) / 2);
  }
  .our-team-section {
    padding: 96px 0;
  }
  .our-team-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 64px 24px;
  }
  .team-item {
    margin-bottom: 0;
  }
  .cutomers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  .footer-section {
    padding: 96px 0;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 107px;
  }
  .logo-footer {
    display: flex;
    margin-bottom: 16px;
    justify-content: start;
  }
  .logo-container {
    margin-right: 24px;
  }
  .social-media-container {
    align-items: start;
  }
  .footer-form-container {
    align-items: flex-start;
    margin: 0;
  }
  .container-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
    border-radius: 4px;
    border: 1px solid var(--white, #fff);
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desktop-2x.jpg);
    }
  }
  .customers-container {
    max-width: 1158px;
  }
  .tallents-section {
    display: block;
    padding-bottom: 120px;
  }
  .skills {
    padding: 120px 0;
  }
  .skills-list {
    display: flex;
    gap: 24px;
  }
  .skills-item {
    width: calc((100% - 72px) / 4);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
  }
  .skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .skills-title {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em; /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }
  .skills-text {
    width: 264px;
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
  .our-team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-item {
    /* margin-bottom: 72px; */
  }
  .customers-section {
    padding: 120px 0;
  }

  .cutomers-list {
    display: flex;
    gap: 24px;
  }
  .customers-item {
    flex-wrap: nowrap;
    width: calc((100% - 120px) / 6);
  }
  .container-form {
    display: flex;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }

  .subscribe-icon {
    margin-left: 16px;
  }
  .footer-form-container {
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}
