@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .skills-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
  }
  .skills-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((100% - 24px) / 2);
  }
}
